camposUser{
    
    display: flex;
    flex-direction: column;
}


.formularioUser{
    margin-top: 60px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-family: Helvetica;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.solBtn{
    font-family: Helvetica;
    font-weight: lighter;
    margin-left: 44.5%;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 25px;
    color: white;
    background-color: rgb(16, 60, 80);
    transition: transform 250ms;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.solBtn:hover{
    transform: translateY(-2px);
    background-color:rgb(22, 98, 133);
}


.origenUser, .destinoUser, .fechaUser, .horaUser{
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 25px;
    color: rgb(16, 60, 80);
    margin:30px;
}


input{
    background-color: rgb(206, 206, 206);
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 20px;
    height: 40px;
    width: 500px;
}


.TodoUser{
    height: 900px;
    background-color: rgb(260,260,260);
} 


.textoSolicita{
    color: rgb(16, 60, 80);
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    font-size: 50px;
}

#PopUpConfirmacion{
    left:35%;
    top: 100px;
    background-color: rgb(16, 60, 80);
    text-align: center;
    height: 200px;
    width: 30%;
    position:relative; 
    z-index:2;
    border-radius: 3%;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    border: solid 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation-name: aparecer;
    animation-duration: 3s;
    color: white;
    font-family: Helvetica;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    display:none;
    line-height: 70px;
}
#btnRef{
    margin-top: 10%;
    display: none
}